.stop-button,
.start-button {
  cursor: pointer;
  border-radius: 4px;
  border: none;
  font-size: 22px;
  height: 45px;
  font-weight: bold;
  width: 200px;
  background-color: white;
  color: var(--main-color);
  box-shadow: rgb(223, 222, 222) 0px 6px 0px;
}

.stop-button:active,
.start-button:active{
  position:relative;
  top:5px;
  box-shadow:none;
}

.startStopButtons {
  height: 100%;
}
